apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

patchesJson6902:
- patch: |-
    - op: add
      path: /spec/type
      value: LoadBalancer
    - op: replace
      path: /spec/ports/0/port
      value: 80
  target:
    kind: Service
    name: gobg
    version: v1
images:
- name: christianh814/gobg
  newTag: "green"
